<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <div class="userContainer">
        <% if (!usuario){%>
            <div class="unlogContainer">
                <h1> Usted no se ha logueado </h1>
                <div class="btnContainer">
                    <button class="btnHome" onclick="location.href='/api/users/login'">
                        Loguearse
                    </button>
                    <button class="btnHome" onclick="location.href='/api/users/signup'">
                        Registrarse
                    </button>
                    <button class="btnHome" onclick="location.href='/api/productos'">
                        Ir al productos
                    </button>
                </div>
            </div>
        <%} else {%>
            <div class="logContainer">
                <h1>
                    Bienvenide, <%= usuario.email %>
                        <button class="btnHome" onclick="location.href='/api/users/logout'">
                            Desloguear
                        </button>
                        <button class="btnHome" onclick="location.href='/api/productos'">
                          Ir al productos
                      </button>
                </h1>
            </div>      
        <%}%>
            <form action="/api/carrito" method="post" autocomplete="off">
              <% if (!usuario){%>
                <button class="formBtn" id="btnCarritoUnload" onclick="location.href='/api/users/login'">Crear carrito</button>
              <%} else {%>
                <button class="formBtn" id="btnNewCarrito">Crear carrito</button>            
              <%}%> 
              
            </form>
            

    </div>

    <script>
        const btn = document.getElementById('btnCarritoUnload');
        // const btnDelete = document.getElementById('btnDeleteProduct');
        

        
        function deleteItem(id){
            console.log('id producto:',id);
        }
    </script>

</body>

</html>
